.wrapper:not(:last-of-type)::after {
  content: '';

  display: block;
  margin: 0.75rem 0;
  height: 2px;
  background: #000;
}

.lesson {
  display: grid;
  grid-template-columns: 1.75rem 1fr;
  gap: 0.25rem 1rem;
  align-items: center;

  border-radius: 1.25rem;
  padding: 0.375rem 0.5rem;
}

.lesson.active {
  background: rgba(0, 255, 55, 0.08);
}

.lesson.free {
  grid-template-columns: 1.75rem auto auto;
}

.lesson svg {
  width: 1.5625rem;
  grid-row: span 2;
}

.title {
  font-size: 0.875rem;
  font-weight: 500;
  grid-column: 2;
}

.freeText {
  font-size: 0.875rem;
  font-weight: 500;
  grid-column: 3;
  grid-row: 1 / 3;
  justify-self: end;
  color: var(--color-secondary);
}

.description {
  color: #9e9e9e;

  font-weight: 500;
  font-size: 0.875rem;

  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  grid-column: 2;
}
