* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg-1: var(--color-primary);
  --bg-2: var(--color-secondary);

  --font-1: 3rem; /* 48px */
  --font-2: 1.5rem; /* 24px */
  --font-3: 1.125rem; /* 18px */
  --font-4: 2.25rem; /* 36px */
  --font-5: 3.875rem; /* 62px */
  --font-6: 0.875rem; /* 14px */
  --font-7: 0.75rem; /* 12px */
  --font-8: 4.5rem; /* 72px */
  --font-9: 1.25rem; /* 20px */
  --font-10: 2.625rem; /* 42px */

  --gradient-1: linear-gradient(to right, #0eb301, #36a32c, #0eb301);
  --gradient-2: linear-gradient(to right, #36a32c, #60dd56);

  --color-primary: #36a32c;
  --color-secondary: #0eb301;
  --color-error-message: #ff4c2c;

  --contrast-1: #737373;
  --contrast-2: #eee;
}

body {
  --type-first: var(--font-primary-fredoka), sans-serif;
  --type-second: var(--font-secondary-catamaran), sans-serif;
  font-family: var(--type-first);
}

a {
  color: inherit;
  text-decoration: none;
}

label {
  font-family: var(--type-second);
  font-weight: 500;
  font-size: var(--font-9);
  line-height: 1.25rem;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
  width: auto;
  height: auto;
}

.errorMessage {
  color: var(--color-error-message);
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

.container {
  max-width: 76.25rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.bgGradientPrimary {
  background-image: var(--gradient-1);
}

.title {
  font-family: var(--font-secondary-catamaran);
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  color: #fff;
}

.subtitle {
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
  margin: 0.625rem 0 3.125rem 0;
  color: #fff;
}

@media screen and (min-width: 769px) {
  .title {
    font-size: 2.25rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }
}

@keyframes animeLeft {
  100% {
    opacity: 1;
    transform: initial;
  }
}
