NODE_ENV=development

DOMAIN_URL=

# --- DATABASE ---
DB=
DB_USER=
DB_PASSWORD=

# --- JWT ---
JWT_PRIVATE_KEY=

# --- RESEND ---
RESEND_API_KEY=

# --- STRIPE ---
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=

STRIPE_UPDATE_SUCCESS_URL=
STRIPE_UPDATE_CANCEL_URL=