.Button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 0.875rem;
  margin: 0;
  outline: 0;

  background: none;
  border: none;
  border-radius: 1.25rem;

  font-family: var(--type-first);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;

  user-select: none;
  cursor: pointer;
}

.Button.Deny {
  color: #737373;

  height: 1.875rem;
}

.Button.Confirm {
  margin-bottom: 0.5rem;

  background: var(--bg-1);
  color: #fff;

  text-transform: uppercase;
  letter-spacing: 0.5px;
  height: 2.5rem;

  transition: 0.15s ease-in-out;

  @media (hover: hover) {
    &:hover {
      box-shadow: 0 0 8px var(--bg-2);
    }
  }

  &:focus-visible {
    box-shadow: 0 0 8px var(--bg-2);
  }
}

.Backdrop {
  position: fixed;
  inset: 0;
  background-color: #000;
  opacity: 0.2;
  transition: opacity 150ms;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }
}

.Popup {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: calc(100vw - 17px - 2rem);
  width: 34.375rem;

  margin-top: -2rem;
  padding: 1rem;

  border-radius: 1.25rem;
  background-color: white;
  box-shadow: var(--card-shadow);
  color: black;
  transition: all 150ms;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  z-index: 999;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.Popup svg {
  max-height: 11.25rem;
}

.Title {
  font-family: var(--type-second);
  font-weight: 800;
  font-size: 1.25rem;

  margin: 1.5rem 0 0.875rem;
  line-height: 1.75rem;
  letter-spacing: -0.0025em;
}

.Description {
  margin: 0 0 1.5rem;
  font-size: 0.875rem;
  line-height: 1.4rem;
}

.Description strong {
  font-weight: 500;
  text-transform: uppercase;
}

@media screen and (min-width: 525px) {
  .Button {
    font-size: 1rem;
  }

  .Popup {
    padding: 2rem;
  }

  .Title {
    font-size: 1.625rem;
  }

  .Description {
    font-size: 1.125rem;
  }
}
